@import "tailwindcss";

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;

    color: #f1f1f1;
    background: #1e1e1e;
}

#app {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;

    padding: clamp(12px, 4vw, 20px);
}

.main-container {
    width: 100%;
    max-width: 1200px;

    padding: clamp(12px, 2.5vw, 32px);
    border-radius: 12px;
}