@import "tailwindcss";

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;

    color: #f1f1f1;
    background: #1e1e1e;
}

#app {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;

    padding: clamp(12px, 4vw, 20px);
}

.main-container {
    width: 100%;
    max-width: 1200px;

    padding: clamp(12px, 2.5vw, 32px);
    border-radius: 12px;
}

.table-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 2px;

    //background: rgba(0, 0, 0, 0.6);
    background: rgba(255, 255, 255, 0.03);
    border-radius: 24px;
    overflow: hidden;
    overflow-x: auto;

    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    box-shadow:
            0 0 0 1px rgba(255, 255, 255, 0.04),
            0 10px 30px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
}

.close-button {
    @apply absolute top-2.5 right-2.5 w-8 h-8 rounded-full bg-white/10 text-white text-lg
    flex items-center justify-center hover:bg-white/20 transition;
}

.default-button {
    @apply inline-flex items-center justify-center
    px-3 py-2 font-semibold rounded-2xl cursor-pointer transition

    text-white
    text-base

    bg-white/8
    backdrop-blur-md

    shadow-[0_0_0_1px_rgba(255,255,255,0.04),0_10px_30px_rgba(0,0,0,0.4)];
}

.default-button:hover {
    @apply bg-white/20
    shadow-[0_0_0_1px_rgba(255,255,255,0.05),0_12px_36px_rgba(0,0,0,0.45)]
    -translate-y-0.5;
}

.default-button:active {
    @apply translate-y-0
    shadow-[0_0_0_1px_rgba(255,255,255,0.03),0_4px_12px_rgba(0,0,0,0.3)];
}

.create-button {
    @apply inline-flex items-center justify-center
    px-3 py-2 font-semibold rounded-2xl cursor-pointer transition

    text-white
    text-base

    bg-amber-400/50
    backdrop-blur-md

    shadow-[0_0_0_1px_rgba(255,255,255,0.04),0_10px_30px_rgba(0,0,0,0.4)];
}

.create-button:hover {
    @apply bg-amber-400/20
    shadow-[0_0_0_1px_rgba(255,255,255,0.05),0_12px_36px_rgba(0,0,0,0.45)]
    -translate-y-[2px];
}

.create-button:active {
    @apply translate-y-0
    shadow-[0_0_0_1px_rgba(255,255,255,0.03),0_4px_12px_rgba(0,0,0,0.3)];
}

.action-button {
    @apply inline-flex items-center justify-center
    px-3 py-1 font-semibold rounded-3xl cursor-pointer transition

    text-white
    text-base

    bg-white/8
    backdrop-blur-md
}

.action-button:hover {
    @apply bg-amber-400/20
    shadow-[0_0_0_1px_rgba(255,255,255,0.05),0_12px_36px_rgba(0,0,0,0.45)]
    -translate-y-[2px];
}

.action-button:active {
    @apply translate-y-0
    shadow-[0_0_0_1px_rgba(255,255,255,0.03),0_4px_12px_rgba(0,0,0,0.3)];
}
